[2016-04-13 00:18] AnthonyAstige opened #1 "[Drupal] Refine README so installation goes smoothly"
Mentioned by Lowell if I recall correctly that the README needs some work, and the installation procedure may be revamped and improved with new Drupal methodology.

[2016-04-13 00:19] AnthonyAstige opened #2 "[Drupal] Create vmsinstall.sh script"
**Ensure before closing this issue**
1. ~~#8 is complete~~
1. Data from #7 is pulled in
1. [/drupal-project/README.md](https://github.com/codeforeauclaire/foodtrucks/blob/master/drupal-project/README.md) has functional and smooth vms quickinstall instructions added
1. All TODO notes in /drupal-project/bin/vmsquickinstall.sh are addressed
1. Open a new issue to speed up the scripts execution.  Ther

[2016-04-13 00:22] AnthonyAstige opened #3 "[consumer-ui] Shorten folder name"
`foodtrucks-consumer-ui` as folder name is a redundant with the repository name.  Lets just call it `consumer-ui`
1. Search all files within the folder for `foodtrucks-consumer-ui` in case scripts, README's, etc have to be replaced
2. Ensure vmsquickinstall still works

[2016-04-13 00:23] AnthonyAstige opened #4 "[consumer-ui] Make location bubbles show something when clicked"
Right now you click on them and nothing shows up.  Just get the framework in place to throw HTML in there.

[2016-04-13 00:24] AnthonyAstige opened #5 "[Consumer] Mock up what data to show inside map bubbles"
Store name?
Hours?
Address?
...?

Look at the api to see what data we have.

[2016-04-13 00:25] AnthonyAstige opened #6 "[Consumer] Display actual info in pop-in bubbles"
Will help to have #4 & #5 (or if this is just done, eliminate those 2 smaller items)

[2016-04-13 00:32] AnthonyAstige opened #7 "[drupal-project] Get developer test data functional"
However you wanna work it, you know Drupal best. The main goal I see here is to get a new developer up and running very quickly (the site is much more useful with some test data in it); ties in with #1 & #2.

[2016-04-13 04:37] Lowell20 commented on #1
I believe the readme is correct, but it assumes you have a working server environment for a drupal site.
Basically php 5.6(minimum), a mysql database server, and a webserver (nginx or apache)

[2016-04-17 13:33] AnthonyAstige commented on #1
In working on #2 I wonder about this section:

![do we really want to delete the drupal-project folder then why a git hard reset shouldn t we use the code in our rpeository](https://cloud.githubusercontent.com/assets/236039/14587292/7e594300-0476-11e6-8ee1-b7626d14408f.png)

It doesn't seem right to
1. delete the repo code in a development setup
2. Use a git reset --hard

[2016-04-17 13:36] AnthonyAstige commented on #1
There may be a broken dependency; when I run `composer install` it seems to fail cloning `git@github.com:Lowell20/auto_nodetitle.git`.

This could be related to the fact that I didn't create a fresh project as noted in above comment

![screenshot from 2016-04-17 08-36-08](https://cloud.githubusercontent.com/assets/236039/14587360/72481cfc-0477-11e6-92c9-8a750197e76b.png)

[2016-04-17 13:43] AnthonyAstige commented on #2
I've just now done a fair amount of work on [/drupal-project/bin/vmsquickinstall.sh](https://github.com/codeforeauclaire/foodtrucks/blob/master/drupal-project/bin/vmsquickinstall.sh) in various small commits.  I think a good LAMP stack is running with compatible versions.

Now blocked by #1, perhaps to discuss with @Lowell20 at next meetup in person and continue work on vmsinstall.sh script togeth

[2016-04-17 14:29] Lowell20 commented on #1
referring to previous 2 comments,
1. the rm -rf and reset --hard are workarounds until we can find a better way. They are necessary because the post-install script fails to setup the correct environment otherwise.
2. the git clone is failing because of github authentication, we can change the git@github.com: to https://github.com/  in the composer.json file, and it should then `composer install` s

[2016-04-17 15:01] AnthonyAstige commented on #1
I updated in 09ae91a but looks like I got the same error.  Maybe I did it wrong.

![screenshot from 2016-04-17 09-59-15](https://cloud.githubusercontent.com/assets/236039/14587979/19dc72c8-0483-11e6-8075-cda9bfd4bf8b.png)

What's the post-install script? Do you have details on what specifically it sets up incorrectly?

[2016-04-17 15:04] Lowell20 commented on #1
ah, yes, you will need to update the composer.lock with this command
`composer update drupal/auto_nodetitle`

[2016-04-18 02:31] AnthonyAstige commented on #1
In continuing work on #2, I'm getting an error when running the step at `drush si --account-pass=admin -y` as shown attached.

![2016-04-17_2126](https://cloud.githubusercontent.com/assets/236039/14592344/26880f22-04e3-11e6-885d-82d6b26e51e2.png)

The error message given doesn't seem to tell me any specific PHP extension(s) that need enabling.

[2016-04-18 03:59] Lowell20 commented on #1
I would look to see that the basic drupal setup requirements are met. These error messages aren't going to indicate true cause until the install is successful.
1. Did you do the drupal create-project step after rm -rf drupal project?
2. Is there a web/sites/default/settings.php file?
3. Does it have the database credentials it needs?
   1. If you have drush working, you can try `drush st` from the

[2016-04-18 13:38] AnthonyAstige commented on #1
I sanity checked and the answer to all question 1-3 above is 'Yes'.

RE 3.i. - Here's the output I get for `drush st` (and some other version checking):

![screenshot from 2016-04-18 08-35-48](https://cloud.githubusercontent.com/assets/236039/14605940/92507ef8-0540-11e6-82cf-89d2e6b080e0.png)

You can read [/drupal-project/bin/vmsquickinstall.sh](https://github.com/codeforeauclaire/foodtrucks/blob

[2016-04-18 23:43] #3 closed, assigned to nobody

[2016-04-19 01:15] AnthonyAstige commented on #2
Next step -- setup nginx.

Lowell & I tried https://www.nginx.com/resources/wiki/start/topics/recipes/drupal/, it was not being nice.  Then the server self destructed.  Continue on from notes in vmsscript.

[2016-04-19 05:31] AnthonyAstige commented on #2
Changeset https://github.com/codeforeauclaire/foodtrucks/commit/2b17fdfdcb11516f4baa4ab20fd9996083a2df4e makes `drush cim -y` work on debug branch

[2016-04-19 06:52] AnthonyAstige commented on #2
@Lowell20 I've gotten [master::vmsquickinstall.sh](https://github.com/codeforeauclaire/foodtrucks/blob/master/drupal-project/bin/vmsquickinstall.sh) with the help of the [debug branch](https://github.com/codeforeauclaire/foodtrucks/tree/debug/drupal-project) closer to functional as shown attached. Is this close to how it's supposed to look? Just missing data? Debug ideas?

![display](https://cloud

[2016-04-19 07:38] AnthonyAstige commented on #4
I just did a quick test run here, looks like this is done. Thanks Levi!

[2016-04-19 07:38] #4 closed, assigned to nobody

[2016-04-19 07:41] AnthonyAstige commented on #6
Note: Code above from Lowell was not related to this issue, github just picked up the #6 in the comment which didn't refer to this issue.

[2016-04-19 11:41] Lowell20 commented on #2
the closing ?> does not belong there. I think it is a drupal peculiarity, do not close php scripts at end of file.
and we removed the Standard from the core.extensions.yml file, probably didn't need to. This ?> was probably why .
I will clean up the config and see how the script runs later this week.

[2016-04-19 12:23] AnthonyAstige opened #8 "[drupal-project] Merge debug branch in & related cleanup"
UPDATE: SEE RECENT COMMENTS -- JUST DELETE THIS BRANCH WHEN WE CAN
1. [Review changes in debug that aren't in master (diff)](https://github.com/codeforeauclaire/foodtrucks/compare/master...debug)
2. Merge debug into master
3. Update [/drupal-project/bin/vmsquickinstall.sh](https://github.com/codeforeauclaire/foodtrucks/blob/master/drupal-project/bin/vmsquickinstall.sh) to no longer checkout debug

[2016-04-19 12:26] AnthonyAstige commented on #8
@Lowell20 I just need 1. ([Review changes in debug that aren't in master (diff)](https://github.com/codeforeauclaire/foodtrucks/compare/master...debug)) done to ensure the Drupal changes we made on the branch are safe, feel free to hand this back to me after.

[2016-04-19 12:29] AnthonyAstige commented on #2
Makes sense, trailing ?> removed @ https://github.com/codeforeauclaire/foodtrucks/commit/b7232e8abcd9ba28782172553c42274f203822bd.  Looks about the same.  Sounds good having you dig into the config later this week; re-assign this issue to me when you're done.

[2016-04-26 01:27] AnthonyAstige commented on #2
Progress at https://github.com/codeforeauclaire/foodtrucks/blob/master/drupal-project/README.md

Need to take away "WIP" text when it's fully functional.

[2016-04-26 01:45] AnthonyAstige commented on #8
Talking with Lowell just now, sounds like we want to blow away debug branch minus drupal-project/bin/nginx.conf

Commited in https://github.com/codeforeauclaire/foodtrucks/commit/b551cc584dd8a155a057e4070b6061c62754971b which might be good enough to blow away debug branch.

[2016-04-26 01:52] aaronsalmon opened #9 "[Consumer] Map markers should have indicate if the event is in the past, future or currently active."
When looking a the current day, I may see map markers for truck events that happened earlier in the day, events that are happening now, and events that are happening later in the day.

i'll do a quick mockup for this - first

[2016-04-26 04:33] AnthonyAstige commented on #8
@Lowell20 master branch vmsinstall.sh works~ Debug branch deleted.

![2016-04-25_2332](https://cloud.githubusercontent.com/assets/236039/14807041/fc6988d6-0b3d-11e6-87f7-ad4acf9f1398.png)

[2016-04-26 04:33] #8 closed, assigned to AnthonyAstige

[2016-04-26 04:37] AnthonyAstige opened #10 "Address policy.drush.inc"
File pops up after vmsinstall on a fresh machine

Add to repo or gitignore?

![2016-04-25_2336](https://cloud.githubusercontent.com/assets/236039/14807092/9830e778-0b3e-11e6-9e3c-913e6362b61d.png)

[2016-04-26 04:48] AnthonyAstige opened #11 "Cleanup: Remove OriginalREADME.md?"
https://github.com/codeforeauclaire/foodtrucks/blob/master/drupal-project/OriginalREADME.md

[2016-04-26 05:12] AnthonyAstige opened #12 "[Drupal] Fix file permissions hack in vmsinstallscript.sh"
`chown www-data /root -R` near end of [vmsquickinstall.sh](https://github.com/codeforeauclaire/foodtrucks/blob/master/drupal-project/bin/vmsquickinstall.sh) breaks ssh auth.

**Rough steps**
1. Adjust vmsinstall.sh as needed to:
   1. Move the install folder to /foodtrucks
   2. Change `chown ...` command to reference /foodtrucks
   3. Add symlink on /root/foodtrucks to /foodtrucks
2. Adjust READM

[2016-04-26 11:18] Lowell20 commented on #10
I think it should already be ignored

[2016-04-27 00:45] AnthonyAstige commented on #10
**Reproduction**

I used these instructions to reproduce the issue (just now / again)
1. http://vms.codeforeauclaire.org/ >> Spun up new machine
2. Followed steps 1 & 2 in [VMS development enviornment quick setup instructions](https://github.com/codeforeauclaire/foodtrucks/blob/master/drupal-project/README.md#vms-development-enviornment-quick-setup-instructions)
   1. Before step 1: I deleted my f

[2016-04-27 01:29] Lowell20 commented on #10
Yeah, I see that it is not in the .gitignore list
but since I don't know how it got there I don't know what the correct action will be.
my drupal installations have only a README.md file in that directory

can you determine how it got there?

[2016-04-28 01:55] AnthonyAstige commented on #10
I just did another full run through and looks like composer is creating the file.

**Reproduction summary**

`drupal-project/drush/policy.drush.inc` is ...
1. generated from `composer create-project drupal-composer/drupal-project:8.x-dev drupal-project --stability dev --no-interaction`
2. isolated with `git reset --hard HEAD`

**Reproduction details from scratch**
1. http://vms.codeforeauclaire.or

[2016-05-03 16:04] Lowell20 commented on #10
Added this file to the repo

[2016-05-03 16:04] #10 closed, assigned to Lowell20

[2016-05-03 16:05] Lowell20 commented on #11
I think there is some good info in here about the base drupal project.
Maybe a different name for the file?

[2016-05-03 19:07] AnthonyAstige commented on #11
@Lowell20 - Is OriginalREADME.md the file that comes by default with a Drupal installation?

[2016-05-03 19:18] Lowell20 commented on #11
It is the default README for this composer project, which is managing our
Drupal installation.
It is not the default method for installing and managing a Drupal 8 install

[2016-05-03 19:35] AnthonyAstige commented on #10
Confirmed: Git status is now clean after vms installation.

[2016-05-03 19:37] AnthonyAstige commented on #11
@Lowell20 Addressed @ https://github.com/codeforeauclaire/foodtrucks/commit/84cb2bc7ef27330d7fcc099f782e0502a4b818f4. If I mispoke in the README, etc feel free to tweak my solution.

[2016-05-03 19:37] #11 closed, assigned to AnthonyAstige

[2016-05-10 01:18] picketae commented on #5
<img width="432" alt="screen shot 2016-05-09 at 8 12 53 pm" src="https://cloud.githubusercontent.com/assets/19158936/15132766/88355d74-1622-11e6-9e72-f846f1ab2fee.png">

I have been messing around with some preliminary designs for out pop-in bubbles. You'll have to forgive my clunky design, as I am still getting back in to the swing of programming, but this helps provide a visual idea of what we m

[2016-05-10 01:37] AnthonyAstige opened #14 "[drupal-project] Come up with better way to install composer in vmsinstallscript"
Just had to patch again @ https://github.com/codeforeauclaire/foodtrucks/commit/4749c35579b406664e284480c7535967a0d93029 because instructions copies from https://getcomposer.org/download/ put into script are not meant to be scripted.

[2016-05-10 01:38] AnthonyAstige commented on #14
@Lowell20 Do you know a good way to install composer in a script?

The instructions I copied from https://getcomposer.org/download/ keep breaking on every composer version update (as their documentation warned me).

[2016-05-10 02:08] AnthonyAstige opened #15 "[Drupal] Get images data into repository >> update install script to put them somewhere"
![2016-05-09_2107](https://cloud.githubusercontent.com/assets/236039/15133615/1fa29b2a-162a-11e6-8d1e-93b3e12cd029.png)

@Lowell20 - Once the data is in there reassign to me and I'll update the install script.

[2016-05-10 02:11] #14 closed, assigned to nobody

[2016-05-10 02:17] AnthonyAstige commented on #7
Resolved @
- https://github.com/codeforeauclaire/foodtrucks/commit/75b0a1487969283bd77cd25cc47ba94cde23d4ac
- https://github.com/codeforeauclaire/foodtrucks/commit/03883de678bc8022077b19af03e4a694a82d5174

[2016-05-10 02:17] #7 closed, assigned to Lowell20

[2016-05-17 00:41] Lowell20 commented on #2
Streamline install process by incorporating functionality of the scripts in the drupal-project/scripts directory. They setup drupal's sites/default folder and settings files and also the autoload.php file

[2016-05-17 01:05] AnthonyAstige opened #16 "[Consumer] Add back list views for trucks & schedules?"
List views of trucks & schedules were functional on the map but I removed them

There's a fair amount of UI to think through and implement to support them, and we're pushing for an MVP deadline now in a couple weeks.

When we have the time, add them back (probably on another branch).  I think everything was removed in [898eb18253ee2786a5e6bb2f2a8d41740641343e](https://github.com/codeforeauclaire/f

[2016-05-17 01:37] AnthonyAstige commented on #1
The VMS install script works now, which is good enough for me.  Closing this.

[2016-05-17 01:37] #1 closed, assigned to nobody

[2016-05-17 01:52] AnthonyAstige opened #17 "[Consumer] Group map icons"
For an MVP we're planning to put one icon per event on the map, and group them hopefully with some leaflets magic (auto-grouping by zoom level).  This sidesteps all sorts of UI issues (multiple events happening from one truck, mutliple trucks in one location, worrying about what to put in the bubble, ..).

We may later put more info in the bubbles to reduce this issue, but this is the simplest ide

[2016-05-17 01:53] AnthonyAstige commented on #17
@levifelling - We thought you'd know how to do this in a second with a magic leaflets plugin, so assigning to you.  If you need a hand here let me know though.

[2016-05-17 02:51] AnthonyAstige commented on #16
Another related commit to undo when bringing this back https://github.com/codeforeauclaire/foodtrucks/commit/04b71877f1f72bd7b325234dc9fc40a2f39e60e6

[2016-05-17 02:56] AnthonyAstige commented on #5
Related from today's conversation: For the MVP each bubble on the map is going to be a single event. This concept relies on https://github.com/codeforeauclaire/foodtrucks/issues/17.

[2016-05-17 03:01] AnthonyAstige commented on #9
Related from today's conversation: For the MVP each bubble on the map is going to be a single event. This concept relies on #17.

Simple UI solution for this issue at the map level might be different colored icons. Perhaps a legend to explain, but I'm unsure if it's worth the attention cost.

[2016-05-17 03:05] AnthonyAstige opened #18 "[Drupal] MVP API"
The [Consumer] side needs this data / api to work
- [x] Basic events list
- [x] Well formatted dates (**Canceled w/#25 comment 9:45pm**)
- [x] Filter by date **Note May 23rd: Filter by Eau Claire's time, watch out for off by timezone errors**
- [x] Ensure all needed data included for #5

[2016-05-17 03:06] AnthonyAstige opened #19 "Add due date to MVP Milestone"
@aaronsalmon - I've made a milestone here on GIT and started moving issues into it.  I don't recall the specific date we set at the meeting though.

[2016-05-17 03:08] AnthonyAstige opened #20 "[Consumer] Setup hosting"
Make the consume side work on a github page, probably just pushing to a new gh-pages branch.  May need to work out syncing from master to the gh pages branch.

[2016-05-17 03:13] AnthonyAstige opened #21 "[Drupal] Setup hosting"
The drupal hosting needs some thought the best place / way to host the Drupal site.

We have the vms quick install script, not sure of it's production quality.

The only server we have is that one free ec2 server. Perhaps we should just pay for a single Digital Ocean droplet to do this on.  Perhaps we should just host it on Lowell's stuff since he hosts Drupal stuff already.

[2016-05-17 16:00] Lowell20 opened #22 "[Consumer] Update json api request to json api changes"
I've cleaned up the json output to only show events with their associated food truck info.
Please adjust the request if needed.

[2016-05-17 17:27] AnthonyAstige commented on #22
@Lowell20 What changeset was this done in (so I can see what changed)?

[2016-05-19 16:35] AnthonyAstige commented on #20
@Lowell20 Would you be willing to handle the hosting for the production foodtrucks Drupal site?  Am I correct to assume it would be pretty easy for you to setup alongside your normally hosted Drupal stuff on an existing server?

**Background**

* I could set it up on the free ec2 server I'm sure, but that muddies that environment
* There's a potential to get hosting from CodeForAmerica, which may

[2016-05-19 16:36] AnthonyAstige commented on #21
@Lowell20 Would you be willing to handle the hosting for the production foodtrucks Drupal site?  Am I correct to assume it would be pretty easy for you to setup alongside your normally hosted Drupal stuff on an existing server?

**Background**
- I could set it up on the free ec2 server I'm sure, but that muddies that environment
- There's a potential to get hosting from CodeForAmerica, which may c

[2016-05-19 16:40] AnthonyAstige commented on #20
From @aaronsalmon in Slack

Default I think will go to codeforeauclaire.org/foodtrucks for the gh-page, though I feel foodtrucks.codeforeauclaire.org is a stronger url.

[2016-05-19 16:43] AnthonyAstige commented on #21
Fom @aaronsalmon in Slack

In case we need to [share cookies between the sites](https://stackoverflow.com/questions/18492576/share-cookie-between-subdomain-and-domain) for single sign on or the like, we should use a subdomain like vendors.foodtrucks.codeforeauclaire.org.

[2016-05-23 20:48] AnthonyAstige opened #23 "[Consumer] Empty map - Fix regression from 04e6b59?"
https://github.com/codeforeauclaire/foodtrucks/commit/04e6b59235d92773efb0d1e951ed163eb47ae266 makes nothing shows up on the map for me when using `/consumer-ui/bin/serve`.

**Edit**
Commit comment in https://github.com/codeforeauclaire/foodtrucks/commit/04e6b59235d92773efb0d1e951ed163eb47ae266 references https://github.com/codeforeauclaire/foodtrucks/issues/22, maybe the local test data needs upd

[2016-05-23 20:51] AnthonyAstige commented on #17
@levifelling - Looks like you got this to work in https://github.com/codeforeauclaire/foodtrucks/commit/6cad35aa202ee777b672048d5f84be34fd868985 :)

![screenshot from 2016-05-23 15-50-21](https://cloud.githubusercontent.com/assets/236039/15484126/13151002-20fe-11e6-873e-165ae947638d.png)

![screenshot from 2016-05-23 15-50-12](https://cloud.githubusercontent.com/assets/236039/15484130/18c9b868-20f

[2016-05-23 20:51] #17 closed, assigned to levifelling

[2016-05-23 20:56] AnthonyAstige commented on #22
Assigned to Levi, looks like he may have started this as noted in code comment above.

[2016-05-23 20:57] AnthonyAstige commented on #5
@aaronsalmon Last week you were working on wire frame stuff, iirc for the vendor side primarily but some stuff that may apply here.  Can you throw it up somewhere and link it here for reference?

[2016-05-23 20:58] AnthonyAstige commented on #9
@aaronsalmon As just noted in https://github.com/codeforeauclaire/foodtrucks/issues/5 I think your wire frames may apply here too.

[2016-05-23 22:25] Lowell20 commented on #18
@AnthonyAstige do you know if we will want to filter by a date range or maybe, to keep it simple, just individual dates. For example, the consumer side could send multiple requests, one for each date it needs data for. This is just a thought, just let me know what you think you will be looking for

[2016-05-23 22:31] Lowell20 commented on #22
here is a sample of the data structure as it is now. I'm not sure if it is any different than before. I created this issue to let you know there may be a difference, just in case. Sorry about the ambiguity here.
![2016-05-23_1828](https://cloud.githubusercontent.com/assets/1144169/15486521/7838690a-2114-11e6-9387-819cab79b540.png)

I made some big changes in how the data is collected and combined,

[2016-05-23 22:33] AnthonyAstige commented on #20
@aaronsalmon - Can you / do you know how to setup the CNAME for the gh-pages branch in this repo to show up at http://foodtrucks.codeforeauclaire.org?

**Background / progress**
- [The deploy script I made](https://github.com/codeforeauclaire/foodtrucks/commit/4035cbbc00bed95baff7af8ab3c04b414bda6181) puts all consumer-ui code on the gh-pages branch, and now the pages shows up  http://www.codefore

[2016-05-23 22:39] Lowell20 commented on #15
@AnthonyAstige let me know if you want to work on this tonight
I can set up a folder in the repo for the image files and database and then we just need to move those files to the right location after the site scaffolding is in place

[2016-05-23 22:56] Lowell20 commented on #21
I'm ok with hosting as needed. The current IP address is 104.237.143.35 . I will add the http://vendors.foodtrucks.codeforeauclaire.org configuration right now, so point that name to this IP at any time

[2016-05-23 22:57] levifelling commented on #23
This commit included the date filter functionality, so the lack of anything on the map is because we are by default filtering to only show locations for the current date. I did add the ability to bypass the filter and show all events by add `#all` to the URL http://localhost:3000/#all

[2016-05-23 23:17] AnthonyAstige commented on #23
Ah nice.  I've documented in the serve script now, closing this issue.

[2016-05-23 23:17] #23 closed, assigned to levifelling

[2016-05-23 23:18] AnthonyAstige commented on #21
@Lowell20 - Great, thanks!

@aaronsalmon - Need DNS from you here to point vendors.foodtrucks.codeforeauclaire.org to 104.237.143.35.

[2016-05-23 23:19] AnthonyAstige commented on #15
@Lowell20 It's not urgent (I've put all time sensitive issues in the MVP milestone), but whenever you get a chance yeah get the images in.

[2016-05-23 23:23] AnthonyAstige commented on #18
@Lowell20 Just one date at a time sounds good for the MVP.

@aaronsalmon - See Lowell's prior comment, in case you're wire framing up something we may have a need for a date range search soon.

[2016-05-23 23:25] AnthonyAstige opened #24 "[Consumer] Icons on map disapeared"
I'm wondering if this is from my recent resource restructuring.

![2016-05-23_1824](https://cloud.githubusercontent.com/assets/236039/15487527/a35ec8c8-2113-11e6-8c07-3ec4b55a0d75.png)

[2016-05-23 23:27] AnthonyAstige commented on #24
Nevermind, they loaded.  Just needed a cache clear / page refresh.

[2016-05-23 23:27] #24 closed, assigned to AnthonyAstige

[2016-05-23 23:45] AnthonyAstige opened #25 "[Consumer] Deal with times & timezones correctly"
From discussion w/Levi, he's started the date parsing code, but wanted to hand that off to me.

**New**
- [x] Adjust per Lowell's API tweaks May 31st  - https://github.com/codeforeauclaire/foodtrucks/issues/47#issuecomment-222871802 >> update notes here

**Part A**
- [x] Await date format solidify (Comment from Anthony in #18 on 5/23/2016 at 6:50pm)
- [x] Ensure output with correct timezone in bub

[2016-05-23 23:49] AnthonyAstige commented on #18
@Lowell20 - The api gives dates like "2016-05-04T01:30:00".  It looks like UTC, but we think [UTC usually has a Z at the end](https://stackoverflow.com/questions/2002891/what-do-you-call-a-date-time-with-a-t-in-the-middle-2008-09-18t000000).  We need to be sure we're [doing the right stuff with times/timezones](https://github.com/codeforeauclaire/foodtrucks/issues/25).  Can you confirm it's a stan

[2016-05-24 00:14] Lowell20 commented on #25
the default timestamp is UTC. Since those dates are entered in our timezone, they are output as 5-6 hours earlier.
We have a few options to resolve this.
1. On the admin site, we can set all entries to use UTC,
2. or we can adjust the json output based on daylight savings,
3. or the consumer can adjust the timestamps.

I feel as though each of these options are easy enough, let's decide which is t

[2016-05-24 00:16] Lowell20 commented on #25
I can put a Z on the end if it helps

[2016-05-24 00:19] AnthonyAstige opened #26 "[Consumer] Add top menu"
Work off of a new 'menu' branch.

Place in top right the following links
- [ ] Map (Current main page, should still be default)
- [ ] Vendors list #28
- [ ] About #27

[2016-05-24 00:19] AnthonyAstige opened #27 "[Consumer] About"
Linked from https://github.com/codeforeauclaire/foodtrucks/issues/26

![2016-05-23_2157](https://cloud.githubusercontent.com/assets/236039/15490884/5938aed0-2131-11e6-9f15-e1588c1c03c2.png)
- [x] Make the page work
- [x] Link vendors side to http://vendors.foodtrucks.codeforeauclaire.org/
- [ ] Write about the food trucks site

[2016-05-24 00:22] AnthonyAstige opened #28 "[Consumer] Vendors list"
Linked in menu from https://github.com/codeforeauclaire/foodtrucks/issues/26
- [ ] Link vendors side to http://vendors.foodtrucks.codeforeauclaire.org/
- [ ] Await https://github.com/codeforeauclaire/foodtrucks/issues/36
- [ ] Read vendors list from API
- [ ] Output all vendors info on this page (As mocked up below)

![2016-05-23_2201](https://cloud.githubusercontent.com/assets/236039/15490979/e34

[2016-05-24 00:23] AnthonyAstige commented on #28
@Lowell20 Do we have an API endpoint right now for a list of all vendors?

[2016-05-24 00:34] AnthonyAstige opened #29 "[Drupal] Fix API missing data?"
From loading http://foodtrucks1.version-three.com/default-endpoint

![2016-05-23_1933](https://cloud.githubusercontent.com/assets/236039/15488570/4761142c-211d-11e6-9075-4b476a7ef342.png)

[2016-05-24 00:36] AnthonyAstige commented on #22
Levi's got it all up to date with rough stuff showing already on his local.  Any remaining tweaks needed will fall out from #6. Closing this issue.

[2016-05-24 00:36] #22 closed, assigned to levifelling

[2016-05-24 00:43] Lowell20 commented on #29
resolved, this happens when an event is not associated with a foodtruck.
I have added a filter to hide the event if it is not properly associated

[2016-05-24 00:43] #29 closed, assigned to Lowell20

[2016-05-24 00:51] AnthonyAstige commented on #20
Aaron got the DNS in, it's now loading at http://foodtrucks.codeforeauclaire.org/

[2016-05-24 00:52] #20 closed, assigned to aaronsalmon

[2016-05-24 01:09] Lowell20 commented on #28
No we do not, the current endpoint was changed to only show events with their associated vendors
I will make this available, can we decide on sane url's for these endpoints?

[2016-05-24 01:15] AnthonyAstige commented on #9
Done by Levi as noted in comment above.  Can't test live data, but confirmed with his test data as shown attached.

Closing.
![2016-05-23_2014](https://cloud.githubusercontent.com/assets/236039/15489175/10a3816c-2123-11e6-844e-891d681dbfc8.png)

[2016-05-24 01:15] #9 closed, assigned to aaronsalmon

[2016-05-24 01:39] AnthonyAstige opened #30 "[Consumer] Zoom into Date & EventID"
Used to preview an event that was just created
- [ ] Read date & EventID from URL
- [ ] Call API using date filter
- [ ] Display only the chosen event on map
- [ ] Declutter the UI in this filtered view? (Don't show links up top, ...?)

[2016-05-24 01:39] AnthonyAstige opened #31 "[Drupal] Add event ID to returned api data"
Needed for https://github.com/codeforeauclaire/foodtrucks/issues/30

[2016-05-24 01:43] AnthonyAstige opened #32 "[Consumer] Sync up all code with linting standards"
Probably something like eslinting with Standard js.
- [x] Make a .eslintrc for the project
- [x] Make npm dependencies as needed?
- [x] Update code to standards

Get all files (html/css/js) in the same Tabs vs Spaces*
## spaces is the winner 🚀

**Votes for spaces**
- Levi
- Aaron

**Votes for tabs**
- Anthony

[2016-05-24 01:50] #19 closed, assigned to aaronsalmon

[2016-05-24 02:03] aaronsalmon commented on #21
added!

[2016-05-24 02:05] aaronsalmon commented on #5
implement mockup.

<img src="https://www.dropbox.com/s/l35a62l83169qzr/foodtrucks.png?dl=0">

[2016-05-24 02:07] aaronsalmon commented on #5
<img src="http://bit.ly/1WOHTwG">

[2016-05-24 02:07] aaronsalmon commented on #5
link goes to trucks list page

truncate description if wicked long.

[2016-05-24 02:24] AnthonyAstige opened #33 "Compare Aaron's Balsamic w/progress >> create issues"
![foodtrucks](https://cloud.githubusercontent.com/assets/236039/15490350/bfccfd9a-212c-11e6-94bc-f4c3122868f5.png)

Some details maybe left @ https://github.com/codeforeauclaire/foodtrucks/issues/5 (review before closing this)

Assigned to me, but feel free to work on this, just link items created from this in comments below.
- Assign to MVP milestone for the most part

[2016-05-24 02:28] AnthonyAstige commented on #21
@Lowell20 - DNS is up and running, but hosting adjustments needed.

![2016-05-23_2126](https://cloud.githubusercontent.com/assets/236039/15490395/21d86fe2-212d-11e6-8c2e-91b146c4f98d.png)

[2016-05-24 02:29] AnthonyAstige commented on #5
Done here, moved remaining to #33

[2016-05-24 02:29] #5 closed, assigned to AnthonyAstige

[2016-05-24 02:47] AnthonyAstige commented on #25
@Lowell20 Digging deeper I think you may already have Drupal outputting a good format. Don't worry about it, at least for now.

**Background**
I'm pretty sure the [Consumer] side's JavaScript side can easily handle UTC (Lowell's option 3), and it sounds like a good standard.

Simply adding a Z to the end looks like [WikiPedia's ISO_8601](https://en.wikipedia.org/wiki/ISO_8601)

![2016-05-23_2140](

[2016-05-24 02:51] AnthonyAstige commented on #6
To match last comments from Aaron in #5, and we can close this.  May already be there or very close to there.

Exception: Date precision will be dealt with in #25

[2016-05-24 02:54] AnthonyAstige opened #34 "Create EC Food Trucks Logo"
![2016-05-23_2153](https://cloud.githubusercontent.com/assets/236039/15490795/debd48d2-2130-11e6-98fd-f5d13d5cd0a1.png)

[2016-05-24 02:54] Lowell20 commented on #21
Lol, I forgot to restart the server. Working now

[2016-05-24 02:54] #21 closed, assigned to Lowell20

[2016-05-24 02:54] AnthonyAstige commented on #33
https://github.com/codeforeauclaire/foodtrucks/issues/34

[2016-05-24 02:58] AnthonyAstige opened #35 "Create about page"
![2016-05-23_2157](https://cloud.githubusercontent.com/assets/236039/15490884/5938aed0-2131-11e6-9f15-e1588c1c03c2.png)
- [ ] Make the page work
- [ ] Link vendors side to http://vendors.foodtrucks.codeforeauclaire.org/
- [ ] Write about the food trucks site

[2016-05-24 02:58] AnthonyAstige commented on #33
https://github.com/codeforeauclaire/foodtrucks/issues/27

[2016-05-24 03:00] AnthonyAstige commented on #35
Moved to https://github.com/codeforeauclaire/foodtrucks/issues/27

[2016-05-24 03:00] #35 closed, assigned to nobody

[2016-05-24 03:03] AnthonyAstige opened #36 "Create vendors endpoint"
For https://github.com/codeforeauclaire/foodtrucks/issues/28

Lowell's question:

Perhaps a url for this would be something like `/vendors`?

[2016-05-24 03:04] AnthonyAstige commented on #28
RE: Lowell's note - moved to https://github.com/codeforeauclaire/foodtrucks/issues/36

@Lowell20 - Not this is under the `[Consumer] Menu` Milestone which is important, but not as time sensitive as the `MVP` milestone.

[2016-05-24 04:51] Lowell20 commented on #36
restructured a few things, here is the beginning of the endpoints naming, including a vendor endpoint
http://vendors.foodtrucks.codeforeauclaire.org/api/vendors
http://vendors.foodtrucks.codeforeauclaire.org/api/events
http://vendors.foodtrucks.codeforeauclaire.org/api/events/date-or-timestamp

[2016-05-24 04:51] #36 closed, assigned to Lowell20

[2016-05-24 04:52] Lowell20 commented on #18
restructured a few things, here is the beginning of the endpoints naming, including a vendor endpoint
http://vendors.foodtrucks.codeforeauclaire.org/api/vendors
http://vendors.foodtrucks.codeforeauclaire.org/api/events
http://vendors.foodtrucks.codeforeauclaire.org/api/events/date-or-timestamp

[2016-05-24 04:53] Lowell20 commented on #18
I can confirm it is UTC time

[2016-05-24 05:15] Lowell20 commented on #31
added as uuid to both the events and the vendors api endpoints

[2016-05-24 05:15] #31 closed, assigned to Lowell20

[2016-05-24 17:07] levifelling commented on #25
I addressed this in https://github.com/codeforeauclaire/foodtrucks/commit/682012dc62b7a438a3294a7fb8e7c56c00b37415

[2016-05-24 17:19] Lowell20 opened #37 "[Consumer] Cleanup /consumer-ui/bin/deploy-to-gh-pages script"
is there a way to automate this or do we copy the files in manually and then push to it?

[2016-05-24 18:28] AnthonyAstige commented on #37
@Lowell20  - Don't push directly to the gh-pages branch; I've made a script at [/consumer-ui/bin/deploy-to-gh-pages](https://github.com/codeforeauclaire/foodtrucks/blob/master/consumer-ui/bin/deploy-to-gh-pages) that copies from the current clone's branch `/consumer-ui/` folder to the gh-pages branch root folder.  Careful with that script though; it's rough and I suggest reading it before running

[2016-05-24 18:36] AnthonyAstige commented on #18
What's the difference between these:
1. http://vendors.foodtrucks.codeforeauclaire.org/api/events
2. http://vendors.foodtrucks.codeforeauclaire.org/api/events/date-or-timestamp

[2016-05-24 19:04] Lowell20 commented on #18
I think my goal is to filter the results by a date or date range, the "date-or-timestamp" text can be replaced  with the query parameters.
Right now it is just a placeholder until we know what kinds of parameters we will be sending through

[2016-05-24 19:38] levifelling commented on #18
For the MVP we would need API endpoints for:
1. all events (useful for dev, but not required for MVP)
  http://vendors.foodtrucks.codeforeauclaire.org/api/events
2. events where start_time or end_time is on the given day
  http://vendors.foodtrucks.codeforeauclaire.org/api/events/{date UTC}
  http://vendors.foodtrucks.codeforeauclaire.org/api/events/2016-05-26T00:00:00
3. a single event by uuid

[2016-05-24 22:47] AnthonyAstige opened #38 "[Consumer] Add lodash library"
https://lodash.com/

Just download and put in /deps folder.  Might be helpful when we have to loop over, filter results, etc with it's higher order functions.

[2016-05-24 22:48] AnthonyAstige commented on #18
RE: 2. Simpler and more clear I think to just have the date with no time in the url imo. ie;
http://vendors.foodtrucks.codeforeauclaire.org/api/events/2016-05-26

RE: 3. I'm not sure we need single event query in the API for the MVP -  https://github.com/codeforeauclaire/foodtrucks/issues/30 can easily retrieve by date and filter locally by Event UUID.  (https://github.com/codeforeauclaire/foodtru

[2016-05-25 02:39] Lowell20 commented on #25
I will suggest that we use Eau Claire timezone for all times displayed on the consumer site.
It is awesome that it can use my location timezone, but I think it makes sense to show the time relative to the map.

[2016-05-25 15:21] AnthonyAstige commented on #25
@Lowell20 Agreed on Eau Claire time zone for display to consumers.  Noted in part A specs in top comment.

[2016-05-25 22:29] AnthonyAstige opened #39 "Cleanup external repository dependencies"
https://github.com/codeforeauclaire/foodtrucks/commit/cd6707c3e3b6b5540222241ab6699c42e6861249 links to repositories at https://gitlab.com/codeforeauclaire/

Simpler infrastructure if all foodtrucks code in a single repository.  Failing that, at least having all core dependencies on GitHub keeps source permissions sane.

[2016-05-26 00:47] Lowell20 commented on #39
Good idea. You might be responding to the repos I connected from a gitlab account.
This is temporary to facilitate development on my end.

[2016-05-29 13:18] Lowell20 opened #40 "[Consumer] Sync up with drupal json api changes"
Because of several reasons, the food truck info will be nested inside the event info.
This will prevent overwriting the uuid's and allow multiple trucks per event.

![2016-05-29_1531](https://cloud.githubusercontent.com/assets/1144169/15635899/b5bf9bf2-25b2-11e6-88fb-abd60d922cef.png)

[2016-05-29 18:15] Lowell20 commented on #40
Looking at this output, I see that we might want "null" for missing values? Instead of just missing?
Examples:
the first event food truck has no logo
the second event food truck has no link

Just let me know if it makes more sense to have null values instead of missing values

[2016-05-29 18:19] Lowell20 commented on #40
ooh, and if we allow any multiple values in the admin entry forms, I will need to represent those as nested fields.
Example:
The links field is multiple. As it is, the link value will get overwritten by the last value in the mutliple value field if more that one link is entered.

I can fix this by restricting the entry form to only one link, or we can nest the links in the json like I just nested

[2016-05-29 18:25] Lowell20 opened #41 "Truck Logo Image sizes"
Let's decide on what size and aspect ratio we want for the logo images.
I can provide resized image paths in the json automatically which might provide a more consistent experience for the consumer javascript.

We should also decide in some kind of image upload parameters for the food truck users in the admin ui.

[2016-05-29 18:30] AnthonyAstige commented on #40
Missing is fine, JavaScript can easily check what fields are there. As a side benefit it keeps the noise & size down in case more results are returned in the future.

For the API an array instead of a single value should be clear for development.  That said the vendor UI should be kept fairly simple per [Aaron's Balsamic](https://github.com/codeforeauclaire/foodtrucks/issues/33); I think most if n

[2016-05-29 18:32] Lowell20 commented on #40
ahh, yes. I see that he split the website url and facebook url into two different things

[2016-05-29 18:35] AnthonyAstige commented on #41
Sounds good to address the aspect ratio for a consistent consumer ux.

I expect challenges in getting the truck vendors to adhere to a standard, and just resizing or auto-cropping often yeilds sub-par results. Is there an easy Drupal drop in for cropping images in the browser? Alternatively since there won't be that many trucks, and I don't expect them to update their logo too often, we could just

[2016-05-29 18:41] Lowell20 commented on #41
right, exactly. So I am asking to know what that size and aspect ratio should be.
We can enforce some restriction on the logo upload form
There looks like a working image crop for Drupal 8, haven't tested in yet though
And it is easy to scale and crop automatically, although you are right about sub-par results many times

[2016-05-29 18:55] AnthonyAstige commented on #41
@aaronsalmon It appears the logo aspect ratios in [your Balsamic](https://cloud.githubusercontent.com/assets/236039/15490350/bfccfd9a-212c-11e6-94bc-f4c3122868f5.png) differ between the Vendor and Consumer sides. The consumer side is our target for which the balsamic has a wide image, so perhaps we should lock in on a simple and [common aspect ratio](https://photo.stackexchange.com/questions/33713

[2016-05-29 19:02] AnthonyAstige commented on #41
@Lowell20

If you mean [data size upload restriction](https://stackoverflow.com/questions/9153224/how-to-limit-file-upload-type-file-size-in-php) I think it's preferable to just let the user here upload whatever and compress ourselves (be it manually or automatically, including re-sizing dimensions or not).  If you mean some other Drupal magic then great we'll have to see what it is.

[2016-05-29 20:34] Lowell20 commented on #40
I've update the image above with changes made as a result of implementing admin ui features

[2016-05-29 22:58] Lowell20 commented on #40
links have been removed, and replaced with
- [x] Website URL (website_url)
- [ ] Facebook URL (facebook_url)
- [ ] Twitter Name (twitter_name)

and name is replaced with
- [x] Title (title)

[2016-05-29 23:02] Lowell20 commented on #40
The checkmarks mean they are updated in the consumer js

[2016-05-30 22:00] AnthonyAstige opened #42 "[Drupal] Triage misc"
Screenshots from today's discussion, some may already be done, check off as completed.  Only do what's quick and we'll see what's left over at the end.
- [x] 1
- [x] 2
- [x] 3
- [x] 4
- [x] 5 - http://stackoverflow.com/questions/8720931/can-css-detect-the-number-of-children-an-element-has may be helpful
- [x] 6
- [x] 7
- [x] 8
- [x] 9
- [x] 10

1
![1](https://cloud.githubusercontent.com/assets/236

[2016-05-30 22:04] AnthonyAstige commented on #33
[Drupal] Triage review with Lowell today at Cafe created https://github.com/codeforeauclaire/foodtrucks/issues/42

Another round needed comparing [Drupal] side after Lowell triage's to Aaron's balsamiq.

And I still need to do the [ Consumer ] side comparison with Balsamiq.

[2016-05-30 22:13] AnthonyAstige commented on #40
Lowell made a pass at this and things look ok at at a glance.  Also we have https://github.com/codeforeauclaire/foodtrucks/issues/6 open to catch anything else.

[2016-05-30 22:13] #40 closed, assigned to aaronsalmon, AnthonyAstige, levifelling, Lowell20

[2016-05-31 14:20] Lowell20 commented on #42
#8 the green message banner is overlapping the header, need to style it below the header

[2016-05-31 17:55] Lowell20 commented on #39
Ok, moved foodtruckmodule, auto_nodetitle, and foodtruckstheme into their respective module and theme custom folders

[2016-05-31 17:55] #39 closed, assigned to nobody

[2016-05-31 20:48] Lowell20 opened #43 "[Drupal] Hide Event Title field"
The useless auto_nodetitle module stopped working with one of the recent Drupal updates.
I will probably set the title value and hide it in our foodtruckmodule.

[2016-05-31 20:54] Lowell20 opened #44 "[Drupal] Change Event Date and Time handling"
To make similar to balsamics, I've changed the date to a year, month, date storage format.
This also makes searching by date much easier.
Example:
/api/events/2016--5-31
will return any event with that date.
The times are handled as integers now with an hour field and a minute field.
Also a duration field

[2016-05-31 21:28] AnthonyAstige commented on #42
Assigning to self for review of work done by Lowell; a lot of details here.

[2016-05-31 21:32] AnthonyAstige opened #45 "[Consumer] Make date picker pull appropriate events from the api"
~~Awaiting #44~~

When picking a date (calendar or back/forward):

![screenshot from 2016-05-31 16-32-03](https://cloud.githubusercontent.com/assets/236039/15691248/38cb1c06-274d-11e6-8cff-f5a673a751fb.png)

Events for that date only should show up on map.
- [ ] Call the api for the appropriate date on load (Already done?)
- [ ] Call the api for the appropriate date on each click
- [ ] Indicate lo

[2016-05-31 21:35] Lowell20 commented on #44
I haven't pushed to live site yet, oops, only one dash between year and month.
Posting issue to share format requirements

[2016-05-31 21:36] Lowell20 commented on #44
I will close the issue when it is done

[2016-05-31 21:39] AnthonyAstige commented on #44
Per our discussion on UTC yesterday, and the note about that the api request url doesn't include a precise time, I'm going to assume the API filters by local Eau Claire time.

[2016-05-31 21:44] Lowell20 commented on #44
If we implement this change to match the balsamic administration ui then
utc doesn't matter any more.

Dates are stored as y-m-d. Easy peasy

[2016-05-31 21:49] AnthonyAstige opened #46 "[Drupal] Make events API return timestamps"
After [#44 - [Drupal] Change Event Date and Time handling](https://github.com/codeforeauclaire/foodtrucks/issues/44) is done I think the API will by default return individual year/month/day/hour/minute values instead of timestamps. It's more "correct" to have timestamps, and best to get them formatted as such early as is reasonably possible in the data flow.

@Lowell20 If it's trouble to get the A

[2016-05-31 21:54] AnthonyAstige commented on #44
Yeah makes sense, it simplifies a couple things for us.

[2016-05-31 22:05] Lowell20 commented on #44
ok, it is actuall yyyy-mm-dd, like 2016-06-01

[2016-05-31 22:07] Lowell20 commented on #46
I'm not sure what you are asking for.
What format do you want to send the request in?
It is not a problem to convert it to the required yyyy-mm-dd, but as-is the yyyy-mm-dd format works

[2016-05-31 22:25] Lowell20 commented on #44
the admin end is pushed to live environment, now the consumer needs to be adjusted to match

[2016-05-31 22:27] Lowell20 commented on #44
date: "2016-05-31",
duration: "120",
start_hour: "10",
start_minute: "0",

this json snippet shows today at 10:00am until 12:00noon

[2016-05-31 23:05] AnthonyAstige commented on #46
The url for the request is fine as /api/events/2016-06-01

I'm asking for the data returned JSON data to be timestamps, like

[code]

[2016-05-31 23:08] AnthonyAstige commented on #44
Depending on the direction the conversation goes in https://github.com/codeforeauclaire/foodtrucks/issues/46#issuecomment-222836010.

In either case that's another issue, and sounds like the core of this one is done, so I'll close this one.  Feel free to re-open if I'm mistaken.

[2016-05-31 23:08] #44 closed, assigned to nobody

[2016-06-01 00:03] Lowell20 commented on #43
finished

[2016-06-01 00:03] #43 closed, assigned to Lowell20

[2016-06-01 00:19] Lowell20 commented on #46
I think this is now working as you described

[2016-06-01 00:39] AnthonyAstige opened #47 "[Consumer] Adjust time parsing for new api"
Per recent comments in #46 we still have `start_time` and `duration` has replaced `end_time`.

Looks like this now
![screenshot from 2016-05-31 19-35-01](https://cloud.githubusercontent.com/assets/236039/15694883/4d7d5d2a-2767-11e6-8702-b69c9440852a.png)

Which of course needs the UI adjusted in a few ways as it looks like:

![screenshot from 2016-05-31 19-42-08](https://cloud.githubusercontent.co

[2016-06-01 00:40] AnthonyAstige commented on #46
Yeah that looks good, thanks~

http://vendors.foodtrucks.codeforeauclaire.org/api/events/2016-06-01
![screenshot from 2016-05-31 19-35-01](https://cloud.githubusercontent.com/assets/236039/15694847/d243605a-2766-11e6-84d7-f0cf31c126a2.png)

[2016-06-01 00:40] #46 closed, assigned to Lowell20

[2016-06-01 00:41] AnthonyAstige commented on #47
@Lowell20 Is `start_time` UTC?

[2016-06-01 01:40] Lowell20 commented on #46
duration is now converted to end_time

[2016-06-01 01:53] Lowell20 commented on #47
it is not UTC. it is the date with the time of day appended to it. This is a consequence of storing the date and time as separate fields. It is local time, not managed by timezones at all.
Also, duration has been converted to end_time

[2016-06-01 19:27] AnthonyAstige opened #48 "[Drupal] Document API"
The API is solidifying and I figure it should have some light documentation for future maintenance. A couple gotcha examples which should be made clear (either explicitly or implicitly):
- `/api/events/2016-06-02` filters by `start_date`, it's possible the `end_date` returned is the next day
- Returned `start_date` and `end_date` are exactly as they are entered by venders with no timezone adjustme

[2016-06-01 22:34] #32 closed, assigned to nobody

[2016-06-01 22:39] AnthonyAstige opened #49 "[Drupal] Turn registration & Facebook login back on (They're no longer on login page?)"
![screenshot from 2016-06-01 17-38-35](https://cloud.githubusercontent.com/assets/236039/15728025/af215fc8-281f-11e6-97bc-cf6a31584379.png)

[2016-06-01 23:45] #25 closed, assigned to AnthonyAstige

[2016-06-01 23:48] AnthonyAstige commented on #18
We have enough in the API now I think for MVP.  Issues will fall out while coding as needed from here.

[2016-06-01 23:48] #18 closed, assigned to nobody

[2016-06-01 23:50] AnthonyAstige commented on #30
I don't think we need this for the MVP, map location is shown well enough on [Drupal] side, and we don't need to do the iframe thing.  Take off MVP, but leaving as later we may want this.  It'll need an event api endpoint also, which we can skip for now.

[2016-06-01 23:52] AnthonyAstige commented on #6
There is actual info there. More will fall out of [Split Aaron's Balsamic into assigned issues](https://github.com/codeforeauclaire/foodtrucks/issues/33)

[2016-06-01 23:52] #6 closed, assigned to levifelling

[2016-06-01 23:55] AnthonyAstige opened #50 "[Drpual] Triage misc #2"
I didn't do a real QA round, just some things I noticed when using the [Drupal] site.  It's getting closer~
#### 1. Can we easily add another field by duration for minutes 00 15 30 45?

![can we easily add another field by duration for minutes 00 15 30 45](https://cloud.githubusercontent.com/assets/236039/15729478/26db3bf6-282a-11e6-8136-7c5488a046bb.png)
#### 2. my account section navigation need

[2016-06-02 00:10] Lowell20 commented on #49
meh?

somehow this is fixed, please reopen if you notice them gone again

[2016-06-02 00:21] Lowell20 commented on #48
- `/api/events` returns details of all events with their associate food trucks nested
- `/api/vendors` returns details for all vendor food trucks
- `/api/events/yyyy-mm-dd` returns only events with the same `start_time`, ignoring the `Thh:mm:ss` portion of the returned `start_time`

### Events
- Returned `uuid` is the unique identifier
- Returned `start_time` is exactly as they are entered by vend

[2016-06-02 01:21] Lowell20 commented on #50
food is just your logged in name

[2016-06-02 01:24] Lowell20 commented on #47
per commit fc9cdc2. Simply offsetting by 5 hours will probably not work during daylight savings.
Can we disable timezone corrections in the js completely?
or... I can instead send a UTC timestamp if needed.

[2016-06-02 01:49] Lowell20 commented on #50
created the minutes duration field, have not styled yet. will wait for more feedback for that

color the `my account` menu item red whenever when on the user and truck pages

[2016-06-02 02:19] AnthonyAstige commented on #50
Opened / re-assigned to self to confirm

[2016-06-02 02:43] AnthonyAstige commented on #47
Per [fc9cdc2 line #115](https://github.com/codeforeauclaire/foodtrucks/commit/fc9cdc2be9901e293700b51a88e6e0367635bee5#diff-1488a48aa588ab200ee0a1fdcdcc9db4R115) we do this time logic with the user's browser which takes DST into account, while the API doesn't. We need to take timezone into accounts to do date comparisons.

**Example** (Current state before patched)
1. Food Truck adds event every d

[2016-06-02 02:44] #47 closed, assigned to AnthonyAstige

[2016-06-02 02:47] AnthonyAstige commented on #47
@Lowell20 Thanks for catching this and pointing out to me again, I think/hope my logic and patch above got it right this time.

[2016-06-02 02:51] AnthonyAstige opened #51 "[Consumer] Make moment().isDST() logic calls check for displayed date"
https://github.com/codeforeauclaire/foodtrucks/commit/8876aa3d25b09230173aee05a8d95996693c3889 is buggy as it doesn't consider the event date.

All areas that use `moment().isDST()` should do something like `moment(event_start_date).isDST()` instead.

This will become confusing as we approach a DST time and have events crossing the threshold.

[2016-06-02 14:21] Lowell20 commented on #49
eeks, they are gone again
I really have no idea why they are gone, but will investigate

[2016-06-06 16:37] Lowell20 commented on #49
solved with 403 module, the previous redirect method failing us

[2016-06-06 16:37] #49 closed, assigned to Lowell20

[2016-06-06 23:40] Lowell20 opened #52 "[Drupal] hide duration from api"

[2016-06-06 23:40] Lowell20 opened #53 "[Drupal] add start minute to start and end times"

[2016-06-06 23:47] Lowell20 opened #54 "[Drupal] add date range capability to api"
api/events/yyyy-mm-dd/yyyy-mm-dd

[2016-06-06 23:52] Lowell20 opened #55 "[Drupal] connect multiple accounts to a truck"

[2016-06-06 23:54] Lowell20 opened #56 "[Drupal] limit event to one truck"

[2016-06-07 00:02] Lowell20 opened #57 "[Drupal] permissions"
food truck administrator
event administrator

link users and foodtrucks in a different way, not by truck author

[2016-06-07 02:07] AnthonyAstige opened #58 "[Drupal] [JavaScript] Default end time 2 hours after start time"
![2016-06-06_2007](https://cloud.githubusercontent.com/assets/236039/15843808/97587eee-2c2a-11e6-8fd2-183e56c33aa3.png)

Not needed for MVP

[2016-06-07 02:07] AnthonyAstige opened #59 "[Drupal] [JavaScript] Make add/edit event map context sensitive to Eau Claire"
![2016-06-06_2020](https://cloud.githubusercontent.com/assets/236039/15843825/bc6c3f68-2c2a-11e6-865a-70c4a9e1ad7e.png)

Not needed for MVP

[2016-06-07 02:11] AnthonyAstige commented on #45
@levifelling Per your mention today, the map already filters by date, and this is only a scaling issue. I'm taking this off the MVP milestone.

[2016-06-07 02:14] AnthonyAstige opened #60 "[Consumer] Display something if no events"
![2016-06-06_2112](https://cloud.githubusercontent.com/assets/236039/15843916/8a18ed94-2c2b-11e6-844e-313e5e844a56.png)

[2016-06-07 02:15] AnthonyAstige opened #61 "[Consumer] Write about text"
Perhaps linking to (and sprucing up?) the [API specs](https://github.com/codeforeauclaire/foodtrucks/blob/master/drupal-project/README.md#api)?

![2016-06-06_2114](https://cloud.githubusercontent.com/assets/236039/15843941/b5a23696-2c2b-11e6-9951-a030119068f7.png)

[2016-06-07 02:26] AnthonyAstige opened #62 "[Drupal] Triage 2016-06-06"
Reminder of what we spoke about today, hopefully mostly quick fixes, open new issues for any lengthy leftovers.
#1

[Screencast::Don't restrict permission on events list page](https://files.slack.com/files-pri/T0FENTM7V-F1EKW2SF9/download/1._don_t_restrict_permission_on_events_list_page.swf)
#2

![2](https://cloud.githubusercontent.com/assets/236039/15844084/ef08f860-2c2c-11e6-9760-c1c851312ab6.pn

[2016-06-07 02:30] AnthonyAstige opened #63 "[Drupal] [JavaScript] Add Event: Magic validations"
We're planning to hack this validation into Drupal using JavaScript.
- [x] ~~1. Await #64 (Blocker) >>~~ Make submission fail if default lat/lng submitted (See screenshot 1 below)
- [x] 2. Make submission fail if start time after end time (See screenshot 2 below)
# Screenshots
## 1

![1](https://cloud.githubusercontent.com/assets/236039/15844160/71329d78-2c2d-11e6-9e26-a4329d39ed9f.png)
## 2

![2]

[2016-06-07 02:31] AnthonyAstige commented on #63
@Lowell20 - I figure the first step of this issue is for you, after than feel free to hand off.

[2016-06-07 02:33] AnthonyAstige commented on #63
@Lowell20 - Whoops wrong issue, apologies for the noise.  Please disregard last comment.

[2016-06-07 02:35] AnthonyAstige commented on #63
@Lowell20 Take this on if you want, or feel free to hand off. If you want to hand this off, let us know where's the best place in the Drupal code to make these changes or add a file with JavaScript for the add/edit event page.

[2016-06-07 02:38] AnthonyAstige opened #64 "[Drupal] [JavaScript] Map customizations"
- [x] 1. Copy map module into our repository so we can edit it
- [x] 2. Select all when click address (so easy to type a different address) (See screenshot 2 below)
- [x] 3. Put LatLng in address field in various circumstances (See screenshot 3 below)
- [x] 4. Unblock #63
# Screenshots
## 2

![2](https://cloud.githubusercontent.com/assets/236039/15844313/d701e630-2c2e-11e6-8cbd-572ce70f9cc9.png)
#

[2016-06-07 02:39] AnthonyAstige commented on #64
@Lowell20 This is the issue we definitely need your help with in getting started as noted in #1 above.  After that feel free to hand off.

[2016-06-07 02:39] AnthonyAstige opened #65 "[Consumer] Add links to vendor login page"
![2016-06-06_2117](https://cloud.githubusercontent.com/assets/236039/15844351/2fdf1872-2c2f-11e6-837d-94f8ceacecb5.png)

[2016-06-07 02:41] AnthonyAstige opened #66 "[Drupal] Add/Edit Event: Add map use helper text"
Wait for #64 to complete first as there will be some differences, and even with the plan set out there there could be some development time deviations.

![2016-06-06_2028](https://cloud.githubusercontent.com/assets/236039/15844368/5314d2f0-2c2f-11e6-8611-807d1329072d.png)

[2016-06-07 02:43] AnthonyAstige opened #67 "[VMS] Get Sass watch working"
# Sass to CSS
## Todo
- [x] If needed add instructions how to clear cache manually, if not needed skip this (#73 blocking)
- [x] Update [dev instructions](https://github.com/codeforeauclaire/foodtrucks/blob/master/drupal-project/README.md#vms-easy-setup-development-environment) to login as 'food' user (#73 blocking) (Moved to #83)
- [x] Confirm new reboot method @ https://github.com/codeforeauclai

[2016-06-07 02:45] AnthonyAstige opened #68 "[Drupal] Triage vendor UI"
@aaronsalmon - We didn't write a lot down as we expected to be obvious to you as you work on things.
- Hard block: ~~#67~~
- Maybe block: ~~#75~~
- Soft block: ~~#73~~, ~~#83~~

[2016-06-07 02:46] AnthonyAstige opened #69 "[Drupal] Style Add Food Truck warning"
@Lowell20 Do what you can, then hand this to @aaronsalmon

![2016-06-06_1913](https://cloud.githubusercontent.com/assets/236039/15844457/205c89c4-2c30-11e6-8843-c46286f7244c.png)

[2016-06-07 02:47] AnthonyAstige opened #70 "[Drupal] Style start time/minute"
@Lowell20 Do what you can easily, then hand to @aaronsalmon

![2016-06-06_2001](https://cloud.githubusercontent.com/assets/236039/15844477/43d8b9c2-2c30-11e6-8b4d-77a4123ab521.png)

[2016-06-07 02:48] AnthonyAstige commented on #50
Spoke about this stuff a lot during meeting today and items fell out of discussion, closing.

[2016-06-07 02:48] #50 closed, assigned to AnthonyAstige

[2016-06-07 02:49] AnthonyAstige commented on #42
Spoke about this stuff a lot during meeting today and items fell out of discussion, closing.

[2016-06-07 02:49] #42 closed, assigned to AnthonyAstige

[2016-06-07 02:50] AnthonyAstige commented on #33
We did a lot of this at the meeting today and a lot fell out in various items.  Don't do this right away until a lot of issues are closed and we're ready for the next review (perhaps at the next meeting).

[2016-06-07 02:52] Lowell20 commented on #70
I will try to remove these on form generation, otherwise we must use css. There is no drupal ui for hiding labels in this form.

[2016-06-07 02:53] Lowell20 commented on #69
I changed to warning type of notification, I think Aaron will apply some more styling

[2016-06-07 02:59] AnthonyAstige opened #71 "[Consumer] Style code up to Standard.js"
@levifelling - I set the code to [StandardJS](http://standardjs.com/) (Don't worry, you get S P A C E S :P) and I notice little things are getting out of sync in foodtrucks/consumer-ui/js/index.js

If you want a hand setting up your editor to adhere to the styles I can try to figure that out with you at the next meeting.  It looks like there's a simple `npm install standard` to run `standard` and

[2016-06-07 03:01] #56 closed, assigned to Lowell20

[2016-06-07 03:02] #52 closed, assigned to Lowell20

[2016-06-07 03:05] AnthonyAstige opened #72 "[Consumer] Document MVP issues missed 2016-06-06"
@levifelling - I didn't get to write down [Consumer] issues until just now, and I figure you may remember a couple things I forgot. I know there wasn't too much though, so I may have gotten everything we spoke about.

You can see all the relevant issues by [searching issues for "is:open milestone:MVP consumer in:title"](https://github.com/codeforeauclaire/foodtrucks/issues?utf8=%E2%9C%93&q=is%3Aop

[2016-06-07 03:14] AnthonyAstige commented on #64
@Lowell20 What commit was 1. above done in, and/or what code should be edited for this?

[2016-06-07 03:37] Lowell20 commented on #62
- [x] 1
- [x] 2
- [x] 3
- [x] 4
- [x] 5
- [x] 6
- [x] 7
- [x] 8
- [x] 9
- [x] 10
- [x] 11
- [x] 12

[2016-06-07 14:07] AnthonyAstige opened #73 "[Drupal] VMS: Update default config"
# Todo
- [x] 1. Add SQL dump from http://vendors.foodtrucks.codeforeauclaire.org/?
- [x] 2. Update `vmsquickinstall.sh` as needed? (There is a line `(cd /root/foodtrucks/drupal-project/web drush sqlc < ../db.sql)` but I see no `db.sql` anywhere in the repository)
- [x] 3. Test quickinstall works, drive new action as needed
- [x] 4. Comment on #67 that this issue is no longer blocking it
## Issues

[2016-06-07 14:11] AnthonyAstige commented on #73
@Lowell20 See the screenshot above, I think we need an updated (or is there one at all?) sql dump from http://vendors.foodtrucks.codeforeauclaire.org/.  If possible it'd be nice to include the usual 'food' user in it.

[2016-06-07 14:17] Lowell20 commented on #73
Yes, I will add default content and db in the repo

[2016-06-07 14:47] AnthonyAstige commented on #67
@Lowell20 I have a proof of concept `compass watch` I think working with `config.rb` . However it looks like compass outputs to `web/themes/custom/foodtruckstheme/css/style.css` when the website is pulling from `sites/default/files/css/css_6soxaV1Y1p-8tIkndDG-Jn3kZbvUBW_gNB1kplOUFXg.css?o8emma`.  Is there perhaps some drupal caching going on that needs to be turned off for a development environmen

[2016-06-07 14:58] Lowell20 commented on #67
Drupal does a lot of caching, we can turn most of it off but usually we
need to clear the caches.

On Tue, Jun 7, 2016 at 9:47 AM, Anthony Astige notifications@github.com
wrote:

##

Lowell Johnson
715-579-9276
Version3 >>> development - hosting - security - performance

[2016-06-07 15:08] AnthonyAstige commented on #67
@Lowell20 It could be helpful for development if you can turn off css caching in the [default config](https://github.com/codeforeauclaire/foodtrucks/issues/73).

[2016-06-07 15:53] levifelling commented on #71
I have this setup now using [SublimeLInter](http://jonathancreamer.com/setup-eslint-with-es6-in-sublime-text/).

[2016-06-07 16:01] levifelling opened #74 "[Drupal] vendor api URL fields"
http://vendors.foodtrucks.codeforeauclaire.org/api/vendors

{
  website_url: "website.com",
  facebook_url: "facebook.com"
}

@Lowell20 does the backend do any validation on the user entered URLs? It would be preferable to return a full URL including the protocol `http://` or `https://` so the client application doesn't need to do any guesswork to convert the value to a URL.

[2016-06-07 16:13] AnthonyAstige opened #75 "[Drupal] Fix package versions?"
I think there's some package version issues (with composer?).  See the red errors in the attached screenshots.
## TODO
- [x] 1. Resolve this issue
- [x] 2. Confirm a fresh VMS install works (fix any bugs along the way as needed)
- [x] 3. Comment on #67 that this issue is no longer blocking it
## Reproduction

Use [VMS Easy setup development environment](https://github.com/codeforeauclaire/foodtruc

[2016-06-07 16:16] AnthonyAstige commented on #75
Reading some of the non-red stuff, I'm gonna try to install `php-dom` and see if that helps resolve the issues.

**Edit**
Have to try `php5.6-xml` instead
![screenshot from 2016-06-07 11-17-45](https://cloud.githubusercontent.com/assets/236039/15865735/81b677d6-2ca1-11e6-93af-03112f9269db.png)

Trying, gives an apache error, we'll have to see how it works (we don't use apache)
![screenshot from 20

[2016-06-07 16:23] Lowell20 commented on #75
I think you can bypass these issues by not installing the development packages. We are not using any of them anyways.

composer install --no-dev

[2016-06-07 16:26] AnthonyAstige commented on #71
Perfect, thanks.  I see https://github.com/codeforeauclaire/foodtrucks/commit/a80689aa054abc29133b7ffb7e0169af6e1c2216 and it's all passing for me too now :)

[2016-06-07 16:26] #71 closed, assigned to levifelling

[2016-06-07 16:29] Lowell20 commented on #74
Sadly no. It was decided last night to use plain text fields without any validation. Also be wary of scripts and html :-(

[2016-06-07 16:41] AnthonyAstige commented on #75
I think the above updates helped, though we're getting new errors now

## Log

[log.txt](https://github.com/codeforeauclaire/foodtrucks/files/303091/log.txt)

## Screenshots

![1](https://cloud.githubusercontent.com/assets/236039/15866526/a1b770dc-2ca4-11e6-9420-8791bc2efe53.png)
![2](https://cloud.githubusercontent.com/assets/236039/15866531/a527ce9c-2ca4-11e6-92aa-596a59ea339f.png)
![3](https://

[2016-06-07 17:01] AnthonyAstige commented on #75
I'm in the middle of running `vmsquickinstall.sh` right now. I've confirmed the script has `composer install --no-dev` however I notice it's output:

I'm not sure if this matters, posting just in case.

## Screenshot

![new](https://cloud.githubusercontent.com/assets/236039/15867119/39400886-2ca7-11e6-8e62-660226641053.png)

[2016-06-07 17:40] AnthonyAstige commented on #75
Unassigned myself as I'm not sure offhand what to try next here, and I figure @Lowell20 may have a relatively quick fix.

[2016-06-07 17:48] AnthonyAstige opened #76 "[Consumer] Fix http://foodtrucks.codeforeauclaire.org/"
Per Levi's PM

[2016-06-07 17:56] #76 closed, assigned to nobody

[2016-06-07 18:02] AnthonyAstige opened #77 "[Consumer] Debug `deploy-to-gh-pages`"
Per PM with Levi & Anthony (Levi ran into issue running script), to do at a meeting in person.

Not urgent for MVP as I can push changes.  However it would be nice to have a backup person to push and to give Levi control here as he's handling most of the front end coding.

[2016-06-07 18:43] levifelling opened #78 "[Consumer] resize/scale logo to fit in UI"
As discussed at 6/6 meetup, API will return logo in a predefined aspect ratio client side will need to scale image to correct size for display.

[2016-06-07 18:44] levifelling commented on #72
I added #78, other wise I think everything is accounted for.

[2016-06-07 18:56] Lowell20 commented on #78
I will allow the upload of any aspect ratio but will scale the image to 3:2 aspect ratio.
This might create less than desirable results but we can mediate this problem manually for now, until we decide on a better solution.

[2016-06-07 18:58] Lowell20 commented on #78
I would like to setup a minimum image size requirements to avoid problems with up-sizing. What is the minimum size image you would like to see in the consumer?

[2016-06-07 23:05] AnthonyAstige commented on #78
Sounds good so long as any original non-3:2-aspected images are stored in Drupal (so an admin can go deal with it manually), this sounds good to me.

[2016-06-07 23:06] #72 closed, assigned to levifelling

[2016-06-10 02:05] Lowell20 opened #79 "[Drupal] VMS: Add prestissimo"
`composer global require "hirak/prestissimo:^0.3"`
before the `composer install --no-dev` command will greatly reduce the installation time

[2016-06-10 02:34] Lowell20 commented on #75
After taking a look at the vm install, I feel like we should change a few things starting with a php7.0 setup
The actual problem is just that required php dependencies have not been installed
Is it ok if I try making some changes in the script myself?
Or should we make an appointment and do this together, maybe a hangout

[2016-06-10 23:26] AnthonyAstige commented on #75
@Lowell20 Looks like you may have given things a shot. If you've roughly tested your changes feel free to accept your pull request https://github.com/codeforeauclaire/foodtrucks/pull/80 to give the updated script a go.  I'm not too worried about `vmsinstall.sh` as it's broken right now anyways.

**PHP 7**
Glancing at https://github.com/codeforeauclaire/foodtrucks/pull/80/commits/777c3d5fd687c8acf8

[2016-06-11 00:37] Lowell20 commented on #67
At first glance this was compiling the scss with errors so I disabled it while getting the vms to install cleanly.
Now we can probably test and enable this again.
We can turn off some of the caching, but it is common to have to clear caches manually.
Either visit the configuration/performance page to clear the caches or run `drush cr` from the web directory

[2016-06-11 00:40] Lowell20 commented on #75
this should be working now with php7.0 and a few other goodies like xdebug, although I haven't added the necessary xdebug config to the php.ini file yet

[2016-06-11 00:40] #75 closed, assigned to AnthonyAstige, Lowell20

[2016-06-11 00:41] #73 closed, assigned to Lowell20

[2016-06-11 02:27] AnthonyAstige opened #81 "[Drupal] Confirm VMS install functional"
Lowell merged #80 then closed #73 and closed #75.  Test with [normal instructions](https://github.com/codeforeauclaire/foodtrucks/tree/master/drupal-project#vms-easy-setup-development-environment), if all good leave those prior issues closed, otherwise think about re-opening.

If / when all good unblock #67.

[2016-06-11 02:30] Lowell20 commented on #81
Just tested and looks all good, with compass watch and caching disabled

[2016-06-11 02:30] #81 closed, assigned to AnthonyAstige

[2016-06-11 02:31] Lowell20 commented on #79
added and working nicely

[2016-06-11 02:31] #79 closed, assigned to AnthonyAstige, Lowell20

[2016-06-11 02:32] Lowell20 commented on #67
Just tested and looks all good, with compass watch and caching disabled

[2016-06-11 02:32] #67 closed, assigned to AnthonyAstige

[2016-06-11 02:33] Lowell20 commented on #68
Just tested and looks all good, with compass watch and caching disabled

ping

[2016-06-11 02:56] AnthonyAstige opened #82 "[Drupal] VMS: Cleanup documentation for php 7.X"
Despite Anthony's thoughts / comments in #75

Somehow PHP7 is being installed (which is good I think), confirmed right after running `vmsinstall.sh`.

![2016-06-10_2151](https://cloud.githubusercontent.com/assets/236039/15982719/9d4138fe-2f55-11e6-9a1a-d35c4318f2fe.png)

However there is still a lot of comments (and probably some code) in `vmsinstall.sh` referring to php 5.6

![2016-06-10_2153](ht

[2016-06-11 03:02] AnthonyAstige commented on #81
Note to self: As Lowell noted above, the site loads when I just tried it too.  It appears issues relating to #75 (packages) are resolved. There are some other issues as I can't find login link, perhaps a config (close to but not quite #73).  Leaving this closed.

[2016-06-11 03:11] AnthonyAstige opened #83 "[Drupal] VMS: Fix login >> update instructions"
- ~~[ ] 0. Await menus (per Lowell's comment "..., menus and links are next" / blocked by #62)~~
- ~~[ ] 1. Fix: I don't see where to login when making a new foodtruck VMS~~
- [x] 2. Update [README.md](https://github.com/codeforeauclaire/foodtrucks/blob/master/drupal-project/README.md) to login as 'food' user (Moved in from #67)
- [x] 2.5 Test [README.md](https://github.com/codeforeauclaire/foodtr

[2016-06-11 16:25] Lowell20 commented on #83
I am thinking the current instructions to login as admin are right on.
No need to login as any user, like 'food'
I think this issue is resolved

[2016-06-11 16:27] Lowell20 commented on #74
Please reopen this issue if we are going to change the current behavior of these being simple text entry fields

[2016-06-11 16:27] #74 closed, assigned to Lowell20

[2016-06-11 19:17] AnthonyAstige commented on #83
I would like UI work (by Aaron in #68 in this case) to be done from the same context as a user of type "vendor".  A user of type "admin" has a different view than a vendor (Extra menus, etc), which can throw off the design process (and depending on Drupal's internals promote poor css coding / bugs). That said, it sounds like work can be done right now as is, so if it poses a major obstacle to impl

[2016-06-11 19:20] Lowell20 commented on #83
Yes, and as admin, you can create accounts, assign permissions, set passwords, you can do pretty much anything you need depending on what kind of user access you need

[2016-06-11 19:23] AnthonyAstige commented on #83
A VMS is quick and temporary. The less steps needed each instantiation the better.

I believe the recent sql dump already includes the food user.

Why not provide an easy way to login with it on a vms instance?

[2016-06-11 19:32] Lowell20 commented on #83
right, username is food, and password is truck. but that may change with another db dump
Looks like we also have junk, junkone, junktwo, and Anthony users

[2016-06-11 19:49] AnthonyAstige commented on #83
I hope that we continue to have a vendor to login with (albeit different username / password).

On my last VMS foodtruck instantiation I saw no way to login even when knowing a username / password ([original screenshot](https://cloud.githubusercontent.com/assets/236039/15982818/377fb844-2f58-11e6-8ef0-8616977b4f01.png)).

Alternatively / additionally, is there a very simple 'login as' functionalit

[2016-06-11 19:56] Lowell20 commented on #83
Aha, I see what you are getting at. I've been getting vms working, menus and links are next

[2016-06-11 20:05] AnthonyAstige commented on #83
Cool, good we understand each other now :)

I've noted this as blocked by #62 as I think menu stuff is in there.

[2016-06-11 20:18] Lowell20 commented on #83
actually, just go to /user to login

[2016-06-11 20:42] Lowell20 commented on #70
The start minute and end minute labels have been removed

[2016-06-11 20:48] Lowell20 commented on #64
moved in geolocation module in this commit
efb46255c03036445d4ee132f7b16910c65dc4cf
it is in the web/modules/custom folder

[2016-06-11 20:51] Lowell20 commented on #63
there is a js folder in the theme, I will wire it up so that it is included in the page load.
Let's call it createEvent.js
web/themes/custom/foodtrucktheme/js/createEvent.js
39f9efb

[2016-06-11 20:56] Lowell20 commented on #15
this is been done

[2016-06-11 20:56] #15 closed, assigned to Lowell20

[2016-06-11 20:57] Lowell20 commented on #48
I've been updating the README.md
we can close this issue now, right, it's getting outdated anyway

[2016-06-11 20:57] #48 closed, assigned to Lowell20

[2016-06-11 21:30] AnthonyAstige commented on #68
[README.md](https://github.com/codeforeauclaire/foodtrucks/blob/master/drupal-project/README.md) instructions updated for easy 'food' user login in `4.ii.`

![screenshot from 2016-06-11 16-29-20](https://cloud.githubusercontent.com/assets/236039/15987566/ac32676a-2ff1-11e6-90b6-9ba8f533e24b.png)

[2016-06-11 21:30] AnthonyAstige commented on #83
Perfect, I got everything else needed here done now, thanks :)

[2016-06-11 21:30] #83 closed, assigned to AnthonyAstige, Lowell20

[2016-06-11 21:47] Lowell20 commented on #54
7fb1760

[2016-06-11 21:47] #54 closed, assigned to Lowell20

[2016-06-11 22:19] AnthonyAstige commented on #64
@Lowell20

I made a small change in a7d425ced2a50f0df2b876d4ba95c149a4040985, but I had to hack it in without a plugin API.

While I think it would be possible to achieve `3.` in this issue and #63-1 by continued hacking, it would probably be easier and more maintainable with a proper plugin API.

Is there such an API / plugin documentation?  Or as I think I remember discussing, do you think it's

[2016-06-11 22:21] AnthonyAstige commented on #64
@Lowell20 Whoops looks like you did fork it and I was in the wrong context.  I see code now in `/root/foodtrucks/drupal-project/web/modules/custom/geolocation` which is presumably the module fork.

[2016-06-11 22:38] Lowell20 commented on #64
The first approach that I want to try is to let you hack the module however you need.
Then i will make a patch out of your changes so that we can apply that patch to the original module.

[2016-06-11 22:52] AnthonyAstige commented on #64
3 done @ 91325ed37ff055ad306a89b734ff3e7471f12865.

@Lowell20 This changes the default behaviour of the original module quite a bit. Now all input is coerced into latLng as screenshot 3. above notes.  Your call if it's closer to the intention of that plugin.

[2016-06-11 22:52] #64 closed, assigned to AnthonyAstige

[2016-06-11 22:59] #63 closed, assigned to AnthonyAstige

[2016-06-11 23:03] AnthonyAstige commented on #66
#64 is now done.  Play with it to figure out what helper text to write.

[2016-06-12 02:01] Lowell20 commented on #53
5b051ea 648c329
completed

[2016-06-12 02:01] #53 closed, assigned to Lowell20

[2016-06-12 05:57] Lowell20 commented on #57
Starting a permissions document to help sort out what kinds of permissions we want to implement in the drupal admin ui
http://bit.ly/24IZ9Ce

[2016-06-12 14:10] AnthonyAstige opened #84 "[Drupal] Default current location from browser"
- [x] Setup SSL on production [Chromium moving towards security required]
- [ ] Fallback if no SSL (for dev) but log on console of the issue
- [ ] Think through UX of submitting default location (We currently or originally [set a default](https://github.com/codeforeauclaire/foodtrucks/issues/64) and then [give an error if default submitted](https://github.com/codeforeauclaire/foodtrucks/issues/63)

[2016-06-12 14:14] AnthonyAstige opened #85 "[Drupal] Code cleanup: Remove waituntilexists"
Used in https://github.com/codeforeauclaire/foodtrucks/commit/a7d425ced2a50f0df2b876d4ba95c149a4040985 when we could be using the modified plugin in `web/modules/custom` to better achieve the same objective which much less code.

[2016-06-12 14:20] Lowell20 commented on #57
- [x] user list on foodtruck edit page
- [x] add assigned foodtruck(s) on event edit page along with authored foodtruck(s)

[2016-06-12 17:47] #57 closed, assigned to Lowell20

[2016-06-12 17:47] #55 closed, assigned to Lowell20

[2016-06-12 20:22] Lowell20 commented on #62
I think all these are done,

[2016-06-12 20:22] #62 closed, assigned to Lowell20

[2016-06-12 23:16] AnthonyAstige opened #86 "[Drupal] README: Integrate permissions into README"
We should keep all our documentation in a single place, in the repository, with revision control.  Foodtruck permissions seems like a useful document looking forward.
### TODO
- [ ] Await [Foodtruck Permissions](https://docs.google.com/document/d/1p1EPIzXuVLiL_vKAAud_oxvHPT7vPWRmRDE5ZOlghh0/edit#heading=h.86obnzhznpbc) to stabilize (good to edit in Google Docs while it's changing a lot)
- [ ] Merg

[2016-06-12 23:18] AnthonyAstige commented on #86
@Lowell20 I'm assigning to you to check off the first item when the permission specs have stabilized.  After that we can hand it to someone that wants to become more familiar with markdown (this is an easy task for a less experienced developer).

[2016-06-12 23:20] AnthonyAstige commented on #62
Sounds good.  No need to review these items specifically, any remaining issues or regressions will fall out of our next full review.

[2016-06-13 18:30] levifelling opened #87 "API Endpoints are redirecting to login"
http://vendors.foodtrucks.codeforeauclaire.org/api/events
http://vendors.foodtrucks.codeforeauclaire.org/api/vendors

The above API endpoints are returning a `http status 302` and redirecting to http://vendors.foodtrucks.codeforeauclaire.org/user/login

My expectation is API endpoints would be publicly accessible.

[2016-06-13 18:43] Lowell20 commented on #87
Lol, that's hilarious. Fixing right away

[2016-06-13 18:46] AnthonyAstige commented on #12
Has recently been resolved as a bi-product working on other vmsinstall stuff.

[2016-06-13 18:46] #12 closed, assigned to AnthonyAstige

[2016-06-13 21:02] #82 closed, assigned to AnthonyAstige, Lowell20

[2016-06-13 21:47] AnthonyAstige opened #88 "[Drupal] Permissions: Review >> Implement"
See [Foodtruck Permissions](https://docs.google.com/document/d/1p1EPIzXuVLiL_vKAAud_oxvHPT7vPWRmRDE5ZOlghh0/edit#)
- [ ] 1. Review with Aaron all comments noted, and mark resolved (At meeting 6/13 tonight presumably) >> assign only to Lowell
- [ ] 2. Implement in Drupal as needed

[2016-06-14 00:05] #87 closed, assigned to Lowell20

[2016-06-14 00:40] Lowell20 opened #90 "[Drupal] find bug with new events"
possibly happens when facebook login is given access to anothers' truck and creates an event
then the api fails at /api/events and /api/vendors

[2016-06-14 00:40] Lowell20 opened #91 "[Drupal] Hide Website and Facebook Scheme labels"

[2016-06-14 00:41] Lowell20 opened #92 "[Drupal] Validate facebook and website urls"

[2016-06-16 12:31] #91 closed, assigned to Lowell20

[2016-06-16 12:36] Lowell20 opened #94 "[Drupal] debug one-time login link"
button to login is missing when using one-time login link

[2016-06-17 23:44] AnthonyAstige opened #95 "[Drupal] VMS: Install drush via composer (Cleanup left only)"
![2016-06-13_1548](https://cloud.githubusercontent.com/assets/236039/16167499/64a3ee0e-34bb-11e6-8d0e-5d8849460935.png)

Not urgent, so not assigning not putting in a milestone.

This is probably for Lowell to do and/or guide Anthony in doing.

[2016-06-17 23:44] AnthonyAstige opened #96 "[Drupal] Hide food truck managers UI"
![2016-06-13_1631](https://cloud.githubusercontent.com/assets/236039/16167513/8d85a25e-34bb-11e6-82ec-cc3a38c0e3c9.png)

[2016-06-17 23:46] AnthonyAstige opened #97 "[Drupal] Show all events for all accessible trucks"
If this isn't easy, remove MVP milestone.

![2016-06-13_1633](https://cloud.githubusercontent.com/assets/236039/16167526/a7adfbcc-34bb-11e6-89d2-20e79d16843d.png)

[2016-06-18 02:18] Lowell20 commented on #95
installed and tested
e080cb7

[2016-06-18 02:33] Lowell20 commented on #96
2d78f25

[2016-06-18 02:33] #96 closed, assigned to Lowell20

[2016-06-18 03:27] Lowell20 commented on #92
6d5b00c

[2016-06-18 03:27] #92 closed, assigned to Lowell20

[2016-06-18 13:32] AnthonyAstige commented on #95
Re-opened & assigned to self to cleanup script (commented out code left in https://github.com/codeforeauclaire/foodtrucks/commit/e080cb7c892ca3d94efbc7f4dda1d34081e721d2 which I don't think we'll need)

[2016-06-18 13:55] Lowell20 commented on #97
554ddfa
initial test look good, please reopen if it doesn't work as expected

[2016-06-18 13:55] #97 closed, assigned to Lowell20

[2016-06-18 13:58] Lowell20 opened #98 "[Drupal] event edit/create map, center on Eau Claire without a default value"

[2016-06-18 15:56] Lowell20 commented on #98
2ef1f18

[2016-06-18 15:56] #98 closed, assigned to Lowell20

[2016-06-21 15:19] Lowell20 commented on #94
resolved and tested, one-time link login, reset password page, and create new account page

[2016-06-21 15:19] #94 closed, assigned to Lowell20

[2016-06-27 23:17] aaronsalmon commented on #70
styled

[2016-06-27 23:17] #70 closed, assigned to aaronsalmon

[2016-06-27 23:18] aaronsalmon commented on #69
the new default yellow message is a good change!

[2016-06-27 23:18] #69 closed, assigned to aaronsalmon

[2016-06-27 23:21] aaronsalmon opened #99 "[Consumer] add seo and google analytics"
people will be searching for eau claire food trucks in google to find this if they don't know the URL.   let's add sweet meta tags and seo hottness.      also add google analytics.

[2016-06-27 23:58] aaronsalmon opened #100 "[Drupal] remove website schema fields / add validating logic at the json level"

[2016-06-28 00:58] aaronsalmon opened #101 "[Consumer] remove "no events" popup on any click."

[2016-06-28 03:38] AnthonyAstige commented on #101
I wasn't there tonight so I'm not 100% sure what this is, but it sounds important (MVP) and like something Levi (assigned) can handle.  If I'm mistaken in any way please correct.

[2016-06-28 03:39] AnthonyAstige commented on #99
Presumably to just the consumer side. Leaving off of MVP as this doesn't feel critical.

[2016-06-28 03:51] AnthonyAstige opened #102 "[Drupal] Split staging from production environment & feature / version lock"
Hey Lowell,

Sorry I couldn't make it today. Aaron mentioned we're planning to launch very soon. It feels like now is a good time to setup a separate staging environment from production, so that you can work on/demo stuff and not worry about breaking the real website.
## TODO
- [ ] Setup staging environment
- [ ] Make an easy way (single script?) to copy configuration from staging to production
-

[2016-06-28 03:53] AnthonyAstige commented on #100
I'm not sure what this is, but it sounds like something important (put in MVP) and on the Drupal side (assigned to Lowell).  If I'm mistaken in anywhere feel free to adjust.

[2016-06-28 03:57] Lowell20 commented on #100
this is totally inert, non-blocking
just some fields we've decided we don't need after all, the validation routine seems to be sufficient

[2016-06-28 04:06] Lowell20 commented on #100
b8e4b8b

[2016-06-28 04:06] #100 closed, assigned to Lowell20

[2016-06-30 20:26] Lowell20 opened #103 "[Drupal] decide on user account permissions"
right now anyone can create an account and add trucks and events
see https://docs.google.com/document/d/1p1EPIzXuVLiL_vKAAud_oxvHPT7vPWRmRDE5ZOlghh0/edit#heading=h.86obnzhznpbc
At some point we might want to restrict this to only accounts that have been authorized

[2016-07-01 01:44] AnthonyAstige commented on #77
# Related slack conversation

#### Levi's message Jun 30th

#### Anthony's response Jun 30th

#### Levi July 1st

#### Anthony July 1st

#### Levi July 1st

#### Anthony July 1st

#### Levi July 1st

#### Anthony July 1st

[2016-07-01 01:51] AnthonyAstige commented on #37
# TODOs
- [ ] Fix script so it runs for Levi (weird MacOS `/tmp` folder stuff)
- [ ] Add sanity checking to the script so it can be run with confidence of not blowing things up
- [ ] Cleanup the script in general (Maintenance)
- [ ] Document the script
- [ ] Document how to use it somewhere (in a README probably)

[2016-07-01 03:36] aaronsalmon opened #104 "[Consumer] Can't view an event in mobile."
when on your phone:
1. navigate to a date that has an event pin
2. click the pin to open the popup.

the popup flashes open for a moment and closes/disappears.

[2016-07-01 03:37] aaronsalmon opened #105 "[Consumer] shrink header on mobile."
need to consolidate the header and top nav on mobile. it takes up too much room

[2016-07-01 03:38] aaronsalmon commented on #101
this is smoother now. it doesn't prohibit  you from interacting with date selection arrows

[2016-07-01 03:38] #101 closed, assigned to levifelling

[2016-07-01 03:39] #60 closed, assigned to levifelling

[2016-07-01 03:40] #65 closed, assigned to nobody

[2016-07-01 03:42] #26 closed, assigned to nobody

[2016-07-01 03:43] aaronsalmon commented on #27
about text tracked in #61

[2016-07-01 03:43] #27 closed, assigned to nobody

[2016-07-01 03:47] aaronsalmon opened #106 "[Consumer] Logic to link truck/vendor name to facebook url if no www url exists"
Davis Dogs doesn't have a www url, but they do have a facebook url.

Let's link to the facebook if www doesn't exist, both in the popup and on the truck list page.

<img src="https://dl.dropboxusercontent.com/u/11725/Screenshots/1lyp2v7orh4l.png">

<img src="https://dl.dropboxusercontent.com/u/11725/Screenshots/d5jtt5gd6ng3.png">

[2016-07-01 03:49] aaronsalmon opened #107 "[Consumer] Show more contact information on the Truck list page. (and maybe popup)"
let's show facebook and twitter icons if those links exist and also show phone number in the truck list.

also format the list a bit better.

[2016-07-01 03:51] aaronsalmon opened #108 "[Consumer] show the popup overlay on the 'truck list' and 'about' popups"
show the popup overlay on the truck list and about popups only,

right now it's hidden for everything. lets show it for those two "page" instances of the popup.

[2016-07-01 03:55] aaronsalmon opened #109 "[Consumer] Make top menu 'Trucks' and 'About' links work when there is a "no events" popup present."
currently if there is a "no events" popup open, you can't click on those two top links. let's have those links cancel the no events popup instead.

[2016-07-01 03:56] #68 closed, assigned to aaronsalmon

[2016-07-01 03:58] aaronsalmon commented on #109
actually if there is a "no events" popup active, you can't trigger the calendar too... maybe that no-events popup should hide on any click at all.

[2016-07-01 19:53] aaronsalmon commented on #104
this is the highest priority issue I found so far.  currently unusable on a phone.

[2016-07-01 20:03] AnthonyAstige commented on #104
Reproducible on desktop by making a very short browser window.  Roughly speaking it looks like if the title + image don't fit on screen, the popup auto-closes.

[2016-07-01 20:06] levifelling commented on #104
From what I can tell the marker click event attempts to pan the map such that the popup is visible, but because the popup window is too large to fit on the screen it pans the marker off the visible map, which is  triggering the close popup event.

options:
1. switch from popup to modal dialog (fixed size & location)
2. fix popup size, add inner scrollbars for overflow content

other ideas?

[2016-07-01 20:19] AnthonyAstige commented on #104
@levifelling Ah good explanation, that sounds very likely the cause

option (I'm not sure if this is easily possible):
4. Make auto closing trigger less aggressive (it appears the pin can be off the map a little before closing already, but we need it further).

option (Though I think bad):
3. [Disable auto-pan](https://stackoverflow.com/questions/16712637/how-can-i-prevent-leaflet-from-dragging-th

[2016-07-01 20:25] levifelling commented on #109
Caused by https://github.com/codeforeauclaire/foodtrucks/commit/7ec6559999e7e48ec2ebf703f3f3dfd43f25303e

Previous behavior was clicking anywhere outside of popup would close popup.

[2016-07-01 20:34] aaronsalmon commented on #109
shoot. yeah my hack screwed things up.... sorry about that!   I didn't like the extra click when trying to rapidly date-switch but maybe it's not worth the hassle

[2016-07-01 21:26] levifelling commented on #109
I reverted https://github.com/codeforeauclaire/foodtrucks/commit/7ec6559999e7e48ec2ebf703f3f3dfd43f25303e
to fix this issue

[2016-07-01 21:27] levifelling commented on #104
added maxHeight constraint to popup https://github.com/codeforeauclaire/foodtrucks/commit/22cda99299b57a0019325e5af245805263ca30dc

[2016-07-01 21:37] AnthonyAstige commented on #104
RE - 22cda99
1. Edge case: when resizing the browser window from large to small, original bug still appears (as height is only calculated at start)
2. Math of screen size / 3 is a bit oversimplistic not using all available space (see screenshot below)

![screenshot from 2016-07-01 16-35-09](https://cloud.githubusercontent.com/assets/236039/16535028/cc1204ce-3fa9-11e6-8f1b-cecb4d0861a0.png)

[2016-07-19 00:04] #109 closed, assigned to nobody

[2016-07-19 00:05] #108 closed, assigned to aaronsalmon

[2016-07-19 00:06] aaronsalmon opened #110 "[Consumer] datepicker positioning incorrect when viewed in mobile"
its hard to interact with the datepicker as it now when viewing mobile. reposition.

[2016-07-19 00:08] aaronsalmon opened #111 "[Drupal] Login page needs mobile styling."
the login page isn't formatted very well in mobile view.